@import url("https://fonts.googleapis.com/css?family=Share:400,700|Open+Sans:300,400,700");
* {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.85em;
  color: #fefefe;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4 {
  font-family: "Share", cursive;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.65em;
  margin: 0 auto; }

a {
  outline: none;
  cursor: pointer; }

div, .box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  display: block;
  padding: 0;
  margin: 0; }
  body:after {
    content: "";
    display: block;
    clear: both; }

.body-bg {
  background: #0e3747;
  background: -moz-linear-gradient(45deg, #0e3747 1%, #254444 100%);
  background: -webkit-linear-gradient(45deg, #0e3747 1%, #254444 100%);
  background: linear-gradient(45deg, #0e3747 1%, #254444 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e3747', endColorstr='#254444',GradientType=1 ); }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

p {
  margin: 0 0 1em; }

.pseudo, .btn-dot-1:before, .btn-dot-1:after {
  content: ' ';
  display: block; }

.full {
  width: 100%; }

.full-height {
  height: 100%; }

.table {
  display: table; }

.td {
  display: table-cell; }

.align-vert {
  vertical-align: middle; }

.txt-center {
  text-align: center; }

.txt-left {
  text-align: left; }

.txt-right {
  text-align: right; }

.txt-reg {
  font-weight: 400; }

.txt-bold {
  font-weight: 700; }

.txt-upper {
  text-transform: uppercase; }

.txt-caps {
  text-transform: capitalize; }

.bg-green-1 {
  background: #254444; }

.bg-green-2 {
  background: #1c2525; }

.bg-blue-1 {
  background: #0e3747; }

.bg-blue-2 {
  background: #11191d; }

.bg-dot-1, .btn-dot-1:before, .btn-dot-1:after {
  background: url("img/bg/dot-1.png") repeat left top;
  background-size: 4px; }

.btn {
  display: inline-block;
  text-align: center;
  padding: 0.5em;
  min-width: 180px;
  text-transform: uppercase;
  font-weight: 400; }

.btn-dot-1 {
  color: #fefefe;
  border: 2px solid #fefefe;
  position: relative;
  -webkit-transition: 330ms ease;
  -moz-transition: 330ms ease;
  -ms-transition: 330ms ease;
  -o-transition: 330ms ease;
  transition: 330ms ease; }
  .btn-dot-1:before, .btn-dot-1:after {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    -webkit-transition: 220ms ease;
    -moz-transition: 220ms ease;
    -ms-transition: 220ms ease;
    -o-transition: 220ms ease;
    transition: 220ms ease; }
  .btn-dot-1:before {
    top: -10px;
    left: -10px; }
  .btn-dot-1:after {
    top: 10px;
    left: 10px; }
  .btn-dot-1:hover {
    color: #11191d;
    box-shadow: inset 200px 1px 7px #ffffff; }
    .btn-dot-1:hover:before, .btn-dot-1:hover:after {
      top: 0px;
      left: 0px;
      opacity: 0.3; }

#app_container {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 100vh; }
  #app_container .app-main {
    padding-right: 240px;
    width: 100%;
    height: 100%;
    position: relative; }
    #app_container .app-main .app-relative {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: scroll; }
      #app_container .app-main .app-relative::-webkit-scrollbar {
        display: none; }

#app_header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em; }
  #app_header h1 {
    line-height: 1;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase; }

#app_nav {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 240px;
  text-align: center;
  background: #11191d;
  background: -moz-linear-gradient(45deg, #11191d 1%, #1c2525 100%);
  background: -webkit-linear-gradient(45deg, #11191d 1%, #1c2525 100%);
  background: linear-gradient(45deg, #11191d 1%, #1c2525 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11191d', endColorstr='#1c2525',GradientType=1 ); }
  #app_nav .menu-contain {
    display: table;
    height: 100%;
    width: 100%; }
  #app_nav ul {
    display: table-cell;
    vertical-align: middle; }
    #app_nav ul li {
      display: block;
      font-size: 22px;
      text-transform: uppercase; }
      #app_nav ul li a {
        padding: 2em 1em;
        display: block;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -webkit-transition: 220ms ease;
        -moz-transition: 220ms ease;
        -ms-transition: 220ms ease;
        -o-transition: 220ms ease;
        transition: 220ms ease; }
        #app_nav ul li a.active, #app_nav ul li a:hover {
          color: #5398b3; }

#home_txt {
  width: 90%;
  max-width: 680px;
  margin: 0 auto;
  padding-top: 1em;
  padding-left: 4px;
  position: relative;
  text-shadow: 0 0 15px rgba(32, 32, 32, 0.6); }
  #home_txt h2 {
    padding-left: 17px; }
  #home_txt p {
    margin-bottom: 2.65em;
    font-weight: 400;
    font-size: 16px; }
    #home_txt p:last-child {
      margin-bottom: 0; }

.bg-panel {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 50%;
  height: 100%;
  opacity: 0.7; }
  .bg-panel.bg-panel-design {
    left: 0;
    background: #ffffff url(../img/bg/designer.jpg) no-repeat right center;
    background-size: 500px; }
  .bg-panel.bg-panel-develop {
    left: 50%;
    background: #282c34 url(../img/bg/developer2.jpg) no-repeat left center;
    background-size: 480px; }

.skill-cards {
  display: block;
  position: relative;
  padding: 3em 0.5em 0.5em;
  margin: 0 auto;
  background: #dde8e7;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  .skill-cards h4 {
    color: #0e3747;
    font-size: 18px;
    margin-top: 0.5em; }
  .skill-cards p {
    color: #0e3747;
    margin-bottom: 0; }
  .skill-cards li {
    list-style: none;
    display: inline-block;
    width: 25%;
    padding: 0.5em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .skill-cards li .skill-card {
      background: #fefefe;
      padding: 1em;
      color: #0e3747;
      cursor: pointer;
      position: relative; }
      .skill-cards li .skill-card:before, .skill-cards li .skill-card:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        right: 0; }
      .skill-cards li .skill-card:before {
        border-left: 30px solid #c7deda;
        border-top: 30px solid transparent;
        border-bottom: 0px solid transparent; }
      .skill-cards li .skill-card:after {
        border-right: 30px solid #dde8e7;
        border-bottom: 30px solid transparent;
        border-top: 0px solid transparent; }

.skill-bar {
  background: #dde8e7;
  width: 100%;
  height: 6px;
  position: relative; }
  .skill-bar .skill-level {
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #254444; }

.skill-graphic img {
  opacity: 1;
  width: 80px; }

/*# sourceMappingURL=styles.css.map */
