// Fonts
$font-serif:    'Share', cursive;
$font-sans:     'Open Sans', sans-serif;

// Colors
$col-white:   #fefefe;
$col-blue-1:  #0e3747;
$col-blue-2:  #11191d;
$col-blue-3:  #5398b3;
$col-green-1: #254444;
$col-green-2: #1c2525;
$col-green-3: #7cb5ac;

$col-grey-1:  #dde8e7;

// Layout
$side-1:      240px;
$side-2:      200px;